{% extends 'base.html' %}

{% block content %}

<div class="presentation">
    <p>
    Civis Chronicle vous emmène à la découverte des civilisations, empires et personnages ayant façonné le monde et leurs époques à travers leurs réalisations,</br> 
    leurs exploits et les événements qui ont marqué l'histoire de l'humanité.</br>

    De l'Égypte antique à l'Empire romain, en passant par les grandes figures qui ont laissé leur empreinte sur leur temps,</br>
     explorez des récits fascinants, découvrez les cultures qui ont influencé notre monde et plongez dans les moments clés qui ont changé le cours de l'histoire.
    </p>
</div>

<style>
.presentation {
    max-width: 900px;
    margin: 50px auto;
    padding: 35px;
    background-color: #fffaf0;
    border: 2px solid #c7ad6c;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);}

.presentation p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.8;
    color: #4b3a1e;
    text-align: justify;}



</style>






{% endblock %}


